a
{
    
    margin: 2% 2%;
    
}

/* text-align: center;
    padding: 2vw;
    background-color: #e38d3a; */

.box2 {
    width: 10%;
    
    border: 1px solid #0bb7a7;

    border: 1px solid #0BB7A7;
    border-radius: 30px;
    opacity: 1;
    float: left;
    height: 11vw;
    margin-left:5%;
    text-align: center;
    padding: 2vw;
    background-color: #e38d3a;
}
